.registration-container {
    background-image: url('https://media.istockphoto.com/id/1217480671/photo/achievement-project-goal-implementation-scope.jpg?s=1024x1024&w=is&k=20&c=leMu0rSZQ-GkzHisSHtrvJoaRldI16r6FbRTZH-2bRc=');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .registration-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  
  .login-background {
    background-image: url("https://images.unsplash.com/photo-1619658535018-5a55d32e4628?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=401&q=80");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .snackbar-container {
    background-color: #4caf50;
    color: white;
  }